In [23]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns
import pymysql
import requests
from bs4 import BeautifulSoup

mpl.rcParams['axes.unicode_minus'] = False
path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
plt.rc('font', family=font_name)

plt.rcParams['figure.figsize'] = (15,5)
plt.rcParams['font.size'] = 14

In [3]:
conn = pymysql.connect(host='49.247.132.235', user='kbo_db', password='1234',
                       db='kbo_data_db', charset='utf8')

In [4]:
curs = conn.cursor(pymysql.cursors.DictCursor)

In [7]:
sql = 'select * from kbo_hitter_player;'

query_result = pd.read_sql(sql, conn)

In [10]:
query_result.head()

   play_id play_name
0    50054       천성호
1    50066       강현우
2    50150       손호영
3    50165       라모스
4    50202       안권수

In [11]:
sql = '''
select * from kbo_hitter_total_status
where player_id = '79608'
'''

In [19]:
df = pd.read_sql(sql, conn)
# df

,player_id,player_year,player_team,player_AVG,player_G,player_AB,player_R,player_H,player_2B,player_3B,...,player_RBI,player_SB,player_CS,player_BB,player_HBP,player_SO,player_GDP,player_SLG,player_OBP,player_E
0,79608,2009,KIA,0.235,123,371,53,87,13,4,...,38,8,5,32,2,103,10,0.404,0.297,11
1,79608,2010,KIA,0.291,133,461,79,134,21,3,...,50,18,5,49,7,96,12,0.401,0.365,9
2,79608,2011,KIA,0.315,115,378,54,119,21,4,...,46,9,4,33,3,55,13,0.431,0.373,9
3,79608,2012,KIA,0.288,132,489,60,141,31,2,...,64,20,3,42,6,74,12,0.378,0.347,11
4,79608,2013,KIA,0.249,118,414,56,103,15,0,...,39,16,1,52,6,74,13,0.307,0.338,8
5,79608,2014,KIA,0.339,126,434,65,147,31,2,...,88,19,6,33,6,65,11,0.544,0.390,9
6,79608,2016,KIA,0.222,10,36,3,8,2,0,...,1,0,0,5,0,8,2,0.278,0.310,0
7,79608,2017,KIA,0.316,132,487,95,154,29,2,...,93,7,0,43,4,70,19,0.513,0.373,13
8,79608,2018,KIA,0.342,130,494,88,169,38,1,...,118,5,1,36,10,57,13,0.563,0.392,8
9,79608,2019,KIA,0.315,105,362,45,114,18,1,...,49,4,2,40,1,37,9,0.412,0.380,11

In [24]:
url = 'http://www.kleague.com/rank?ch=023806'
res = requests.get(url)
bs = BeautifulSoup(res.text,'html.parser')

In [36]:
lis = bs.select('#responsive_on > nav > div.nav-top > div > div > div.nav-league-part.clearfix > div.selector.float-left > div > ul > li')
k_leage_team = {}
for li in lis:
    href = li.select('a')[0]['href']
    team = li.select('a')[0]['title']
#     print(href)
    k_leage_team[team] = href.split('=')[1]

print(k_leage_team)

{'전북': 'K05', '울산': 'K01', '상주': 'K23', '대구': 'K17', '포항': 'K03', '부산': 'K06', '강원': 'K21', '광주': 'K22', '서울': 'K09', '수원': 'K02', '성남': 'K08', '인천': 'K18'}

In [46]:
url = 'http://www.kleague.com/club?club={}'
count = 0
player_data = {}
for team,code in k_leage_team.items():
    if count >= 3:
        break
    url = url.format(code)
    res = requests.get(url)
    bs = BeautifulSoup(res.text,'html.parser')
    divs = bs.select('#pills-members > div.members.row > div')
    for div in divs:
        position = div['class'][2].split('_')[1]
        player_id = div['id']
        if position != '':
            player_data[player_id] = player_id

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

GK
GK
GK
GK
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
DF
MF
MF
MF
MF
MF
MF
MF
MF
MF
MF
FW
FW
FW
FW
FW
FW

In [47]:
url = 'http://www.kleague.com/club/player?player=20170185'
res = requests.get(url)
bs = BeautifulSoup(res.text,'html.parser')

In [51]:
trs = bs.select('div.accordian-body.collapse > table.table > tbody > tr')
for tr in trs:
    print(tr)

<tr>
<th>골킥</th>
<td>0</td>
<th>파울</th>
<td>16</td>
</tr>
<tr>
<th>코너킥</th>
<td>0</td>
<th>실점</th>
<td>0</td>
</tr>
<tr>
<th>오프사이드</th>
<td>0</td>
<th>경고</th>
<td>1</td>
</tr>
<tr>
<th>슈팅</th>
<td>11</td>
<th>퇴장</th>
<td>1</td>
</tr>
<tr>
<th>골킥</th>
<td>0</td>
<th>파울</th>
<td>35</td>
</tr>
<tr>
<th>코너킥</th>
<td>69</td>
<th>실점</th>
<td>0</td>
</tr>
<tr>
<th>오프사이드</th>
<td>5</td>
<th>경고</th>
<td>5</td>
</tr>
<tr>
<th>슈팅</th>
<td>29</td>
<th>퇴장</th>
<td>1</td>
</tr>
<tr>
<th>골킥</th>
<td>0</td>
<th>파울</th>
<td>10</td>
</tr>
<tr>
<th>코너킥</th>
<td>0</td>
<th>실점</th>
<td>0</td>
</tr>
<tr>
<th>오프사이드</th>
<td>0</td>
<th>경고</th>
<td>3</td>
</tr>
<tr>
<th>슈팅</th>
<td>3</td>
<th>퇴장</th>
<td>0</td>
</tr>
<tr>
<th>골킥</th>
<td>0</td>
<th>파울</th>
<td>36</td>
</tr>
<tr>
<th>코너킥</th>
<td>40</td>
<th>실점</th>
<td>0</td>
</tr>
<tr>
<th>오프사이드</th>
<td>1</td>
<th>경고</th>
<td>7</td>
</tr>
<tr>
<th>슈팅</th>
<td>30</td>
<th>퇴장</th>
<td>0</td>
</tr>